/* Spinner Styles */
.icon-address {
  position: relative;
  left: 20px;
}

.icon-clock {
  margin-left: 10px !important;
  position: relative;
  left: 10px;
}

.btn-back:hover {
  background-color: #1b514a !important;
}

/* ... Other Spinner styles ... */
