.box-rrss {
    align-items: center;
    justify-content: space-evenly;
    /* max-width: 370px; */
    min-width: 200px;
}

.rrss {
  padding: 1px;
  height: 100% !important;
  align-items: center;
  font-size: 0.7rem;
}

@media (max-width: 993px) {
  .box-rrss {
    width: 340px;
    align-items: center;
    justify-content: space-evenly;
    max-width: 370px;
    min-width: unset;
  }
}
