.box-rrss {
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    /* max-width: 370px; */
    min-width: 200px;
    padding: 0 15px;
}
@media (max-width: 993px) {
  .box-rrss {
    width: 340px;
    align-items: center;
    justify-content: space-evenly !important;
    max-width: 370px;
    min-width: unset;
  }
}
