.dropdown,
.dropend,
.dropstart,
.dropup {
  position: relative;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #0463fa;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;

}

.dropdown-toggle {
  white-space: nowrap;
}




@media (min-width: 992px) {
  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }

  .navbar .nav-item .dropdown-menu {
    display: block;
    border: none;
    margin-top: 0;
    top: 150%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
}

.navbar-nav .dropdown-menu {
  position: static;
  border: none;
  margin: 0 !important;
  padding: 0 !important;
  text-align: inherit;
  border-radius: 0 !important;
  width: 100% !important;
}

.navbar-nav .dropdown-menu {
  position: static;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #8d8e92;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #1e2125;
  background-color: #e9ecef;
}
