/* Topbar Styles */
.border-box-1 {
  height: 100%;
  border-right: solid 1px #f8f8ff;
  width: 59%;
  padding-right: 0;
  padding-left: 0 !important;
  align-items: center;
}

.box-address.btn-address:hover {
  background-color: #1b514a;
}

.h-tpbar .border-wsp:hover {
  background: #154547b0;
}

/* ... Other Topbar styles ... */
