.box-address.btn-address:hover {
  background-color: #1b514a;
}
.box-address {
  text-align: center;
  justify-content: space-evenly;
/* max-width: 370px; */
min-width: 200px;

}
.address {
  padding: 1px;
  height: 100% !important;
  align-items: center;
  font-size: 0.7rem;
}

@media (max-width: 993px) {
  .box-address {
    text-align: center;
    border-right: none;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    margin: 0 5px;
  }

  .address {
    padding: 1px;
    padding-right: 2px;
  }
  .border-wsp {
    min-width: unset;
    height: 100% !important;
    align-items: center;
    width: 100% !important;
    font-size: 0.7rem;
  }
  .btn-address {
    width: -webkit-fill-available;
    height: 100%;
  }
  .icon-address {
    width: 15%;
    position: initial;
    margin-right: 5px;
  }
}
