.top-bar {
  display: inline-flex;
  color: #fff;
}
.border-box-1 {
  height: 100%;
  border-right: solid 1px #f8f8ff;
  padding-right: 0;
  padding-left: 0 !important;
  align-items: center;
}

.border-wsp:hover {
  background: #154547b0;
}
.btn {
  font-weight: 500;
  transition: 0.5s;
}

.border-box-1:hover {
  cursor: pointer;
}
.btn-collapse {
  height: 100% !important;
  width: 100%;
}
.btn.btn-primary,
.btn.btn-secondary {
  color: #fff;
}
.btn-square {
  width: 38px;
  height: 38px;
}
.btn-sm-square {
  width: 32px;
  height: 32px;
}
.btn-lg-square {
  width: 10vh;
  height: 10vh;
  font-size: 3vh;
}
.btn-lg-square,
.btn-sm-square,
.btn-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
.btn-back:hover {
  background-color: #1b514a !important;
}
.container-topbar {
  height: 5vh;
  max-height: 40px;
  min-height: 37px;
  font-size: 13px;
  padding-inline: 5rem !important;
}

.h-topbar {
  height: 100% !important;
}

.border-wsp {
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  border-right: solid 1px #f8f8ff;
}
.me-4.btn-address {
  margin-right: 0 !important;
}
.link-wsp {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.number {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  justify-content: center;
  margin: 0 !important;
  margin-right: 5px !important;
}

@media (max-width: 993px) {
  .hiddenText {
    text-indent: -999px;
    display: none;
    font: 0/0 a;
    color: transparent;
    text-decoration: none;
  }
  .row.gx-0.d-none.d-lg-flex.h-tpbar {
    display: flex !important;
  }
  .border-box-1 {
    height: 100%;
    width: 30%;
    align-items: CENTER !important;
  }
  .address {
    padding: 1px;
    padding-right: 2px;
  }
  .border-wsp {
    min-width: unset;
    height: 100% !important;
    align-items: center;
    width: 100% !important;
    font-size: 0.7rem;
  }
  .col-lg-5 {
    display: flex;
    flex-direction: row;
    align-items: normal;
    flex-wrap: nowrap;
    width: 70%;
    position: relative;
  }
  .icon-call {
    margin-right: 5px;
  }
  .link-wsp {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 5px;
  }

  .btn-sm-square {
    width: 24px;
    height: 24px;
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .border-wsp {
    min-width: 130px;
  }

  .btn-sm-square {
    width: 18px;
    height: 18px;
    font-size: 0.7rem;
    margin: 0 5px;
  }
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
